<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qlsinhvien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLSinhVien">
        <activity
            android:name=".testTKB"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ActivityInformationUser"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".thoikhoabieu"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".ActivityUpdateStudent" />
        <activity android:name=".ActivityInformationStudent" />
        <activity android:name=".ActivityAddStudent" />
        <activity android:name=".ActivityInformationSubject" />
        <activity android:name=".ActivityStudent" />
        <activity android:name=".ActivityUpdateSubject" />
        <activity android:name=".ActivityAddSubjects" />
        <activity android:name=".ActivitySubjects" />
        <activity android:name=".registerActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".loginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>